* {
    border: none;
    border-radius: 0px;
    font-family: Roboto_Mono, Iosevka Nerd Font;
    font-size: 15px; /* Slightly reduce font size */
    font-style: normal;
    min-height: 20px; /* Set a minimum height */
}

/* Waybar container */
window#waybar {
    /* background: #1E1E1E; */
    background-color: transparent;
    color: #c9c9c9;
    padding: 2px; /* Add padding to control total bar height */
    margin: 0px; /* Ensure no additional margins */
}

/* Common module styles */
#waybar > div {
    margin: 2px; /* Space between modules */
    padding: 4px 8px; /* Adjust padding for consistent size */
    /* border-radius: 12px; Rounded corners */
    background-color: #1E1E1E;
}

/* Specific module adjustments */
#workspaces {
    padding: 2px 4px; /* Adjust padding */
    font-weight: normal;
    font-style: normal;
    border-radius: 16px;
}
#workspaces button {
    padding: 2px 4px; /* Make buttons more compact */
    margin: 0px 3px;
    border-radius: 16px;
    min-width: 10px;
    color: #c9c9c9;
    background-color: #1E1E1E;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    padding: 2px 4px;
    margin: 0px 3px;
    background-color: #a95551;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

/* Module-specific tweaks */
#battery, #cpu, #memory, #disk {
    padding: 3px 8px;
    color: #c9c9c9;
    background-color: #1E1E1E;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px; 
    font-weight: bold;
}

#clock {
    padding: 3px 8px;
    color: #c9c9c9;
    background-color:transparent;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px; 
    font-weight: bold;
}

#window {
    /* background: #1E1E1E; */
    background-color:transparent;
    color: #c9c9c9;
    padding-left: 15px;
    padding-right: 15px;
    /* border-radius: 16px; */
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}


/* Merge network and tray into a single bubble */
#network, #pulseaudio {
    padding: 3px 8px;
    color: #c9c9c9;
    background-color: #1E1E1E;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px; 
    font-weight: bold;
}

/* Remove margins between them */
#network {
    border-radius: 16px 0px 0px 16px;/*  Round left side only */
    margin-right: 0px; /* Remove right margin */
}

#tray {
    padding: 3px 8px;
    color: #c9c9c9;
    background-color: #1E1E1E;
    margin: 5px;
    padding: 0px 10px 0px 10px; 
    font-weight: bold;
    margin-right: 0px;
    margin-left: 0px;
}
#pulseaudio {
    border-radius: 0px 16px 16px 0px; /* Round right side only */
    margin-left: 0px; /* Remove left margin */
}
